<title>Онлайн бронювання</title>
{% extends 'base.html' %}
{% load static %}
{% block body %}




{% if user.is_authenticated %}
<div class="container">
    <h1 class="text-center fPersian mt-3">Онлайн бронювання</h1>

    <div class="shadow p-5 mb-5 bg-body bg-body rounded text-black m-5">
        <form method="post" action="{% url 'bookingSubmit' %}" class="me-2 ms-2" required>
            {% csrf_token %}
            
            <div class="container">
                <div class="row">
                    <div class="fs-2">Капсула: {{capsule}}</div>
                    <div class="fs-2">Дата заїзду: {{dayIn}}</div>
                    <div class="fs-2">Дата виїзду: {{dayOut}}</div>
                    <div class="fs-2">Кількість гостей: {{people}}</div>
                    <div class="fs-2">Ціна: {{price}} грн/ніч</div>
                </div>
            </div>

            <button type="submit" class="btn btn-outline-success fs-4 m-3 fPersian">Надіслати</button>

        </form>
    </div>
</div>

{% endif %}


{% endblock %}