<title>Онлайн бронювання</title>
{% extends 'base.html' %}
{% load static %}
{% block body %}




{% if user.is_authenticated %}
<div class="container">
    <h1 class="text-center  mt-3">Онлайн бронювання</h1>

    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
        <form method="post" action="{% url 'booking' %}" class="me-2 ms-2" required>
            {% csrf_token %}

            <!--input service-->
            <div>
                <h3 class="">Оберіть капсулу:</h3>
                <select class="form-select fs-3" name="capsule">
                    {% for n in names %} 
                        <option value="{{ n.name }}"> {{ n.name }}</option>
                    {% endfor %}
                </select>
            </div>
                <!--input day-->
            <div class="mt-3">
                <h3 class="">Виберіть дату заїзду:</h3>
                <select class="form-select fs-3" name="dayIn">
                    {% for day in dayA1 %}
                        <option value="{{day}}">{{day}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mt-3">
                <h3 class="">Виберіть дату виїзду:</h3>
                <select class="form-select fs-3" name="dayOut">
                    {% for day in dayA2 %}
                    <option value="{{day}}">{{day}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mt-3">
                <h3 class="">Кількість гостей</h3>
                <select class="form-select fs-3" name="people">
                    {% for people in peoplelist %}
                    <option value="{{people}}">{{people}}</option>
                    {% endfor %}
                </select>
            </div>

           
            <br/>
            <button type="submit" class="btn btn-primary text-white">Продовжити</button>
        
        </form>
    </div>
</div>
{% else %}
<div id="conteiner">
    <h1 class="p-2 text-center mt-3">Ви не ввійшли!</h1>
    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black m-5 ">
        <h1 class="p-2  me-3">Увійти</h1>
        <a href="{% url 'login' %}" class="btn btn-primary shadow text-center">Увійти</a>
    </div>
    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black m-5 ">
        <h1 class="p-2  me-3">Зареєструватися</h1>
        <a href="{% url 'register' %}" class="btn btn-primary shadow text-center">Зареєструватися</a>
    </div>
</div>
{% endif %}


{% endblock %}