{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Головна сторінка</title>
{% endblock %}

{% block body %}
    <img src= {% static 'img/1.png' %} width="100%">
    
    <div class="container"> 
        <div class="row shadow">
            <div class="col-12 mt-3 mb-3">
                
                <h2 class="text-center">Про отель</h2>

                <div class="container">
                    <p class="fs-4">Capsule Hotel - це сучасний капсульний готель у Харкові, який надає незвичайний та захоплюючий досвід проживання, дозволяючи вам перенестись у світ космічних подорожей та стати героєм улюблених фільмів, таких як "Інтерстеллар", "Марсіянин" або "Зоряні війни".</p>
                    <p class="fs-4">У готелі ви зможете зупинитися в одно- або двомісних капсулах, які забезпечують зручне місце для відпочинку. Кожна капсула обладнана локером для зберігання особистих речей, а також надається комплект кроксів і рушників для вашої зручності. Усі капсули оснащені Wi-Fi та генератором електроенергії, щоб забезпечити зв'язок та комфорт під час вашого перебування.</p>
                    <p class="fs-4">Готель має цілодобову стійку реєстрації, що дозволяє заселитися або виїхати в зручний для вас час. Також доступні раннє заселення та пізній виїзд, щоб задовольнити ваші потреби. У капсульному готелі Capsule Hotel передбачені окремі блоки проживання для чоловіків та жінок, що забезпечує комфорт і приватність для гостей.</p>
                    <p class="fs-4">Готель має зонування простору, що включає зону тиші для спокійного відпочинку та сну, а також загальну зону для соціалізації та інтерактиву. Ви можете насолодитись вечорами перегляду фільмів, грати в настільні ігри або займатись йогою на спеціальних килимках. Зона нетворкінгу надає можливість відпочити та знайти спільну мову з іншими гостями готелю.</p>
                    <p class="fs-4">Готель Capsule Hotel забезпечує вашу безпеку та комфорт. На території готелю встановлено відеоспостереження ззовні та в загальних зонах, що допомагає забезпечити безпеку всіх гостей. Вхід до готелю здійснюється за допомогою електронної картки, що забезпечує контрольований доступ та захист від несанкціонованого входу.</p>
                    <p class="fs-4">Готель також надає розширені зручності. У вас є доступ до просторої кухні з чайником, холодильником, мікрохвильовою піччю та посудом, щоб ви могли готувати свої страви. Фільтрована вода також доступна для використання. Загальні приміщення оснащені праскою та феном, щоб ви могли легко доглядати за своїми речами. Крім того, надається послуга прання, щоб ви могли оновити свої речі під час перебування в готелі.</p>
                    <p class="fs-4">Capsule Hotel - це не тільки місце для ночівлі, але й місце, де ви можете насолодитись незвичайним досвідом, занурившись в атмосферу космічних подорожей та відчути себе як герой улюблених фільмів. Тут ви знайдете комфортні капсули для відпочинку, спільні приміщення для соціалізації, а також зручності, щоб забезпечити приємне перебування. Запрошуємо вас на захоплюючу подорож у Capsule Hotel!</p>
                </div>
            </div>
        </div>    
    </div>

       
    </div>
{% endblock %}
