<title>Редагування бронювань</title>
{% extends 'base.html' %}
{% load static %}
{% block body %}




{% if user.is_authenticated %}

<div class="container">
    <h1 class="text-center fPersian mt-3">Редагування бронювань</h1>
    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black m-5">
        <form method="post" action="{% url 'userUpdateSubmit' id %}" class="me-2 ms-2" required>
            {% csrf_token %}
        
            <div class="container">
                <div class="row">
                    <div class="fs-2">Капсула: {{capsule}}</div>
                    <div class="fs-2">Дата заїзду: {{dayIn}}</div>
                    <div class="fs-2">Дата виїзду: {{dayOut}}</div>
                    <div class="fs-2">Кількість гостей: {{people}}</div>
                    <div class="fs-2">Ціна: {{price}} грн</div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary text-white m-3 fPersian">Надіслати</button>

        </form>
    </div>
</div>
{% else %}

<div id="conteiner">
    <div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
        <h1 class="p-2  me-3">Ви не ввійшли!</h1>
        <a href="{% url 'login' %}" class="btn btn-primary shadow text-center">Увійти</a>
    </div>
</div>

{% endif %}


{% endblock %}