<title>Зміна пароля</title>
{% extends 'base.html' %} 
 
{% block body %} 

<div class="mt-5">

    <h1 class="text-center ms-5">Зміна пароля</h1>
    <div class="shadow p-4 mb-3 bg-body rounded text-black m-5">
        <form method="post"> 
            {% csrf_token %} 
            {% for f in form %}
            <div class="mb-3">
                <label class="form-label fs-2">{{f.label}}</label>
                {{ f }}  
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-outline-success mt-2 fs-4">Підтвердити</button> 
        </form> 
              
    </div>
</div>

   
{% endblock %}