<title>Капсули</title>
{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="container mt-3">  
    {% for c in capsule %}
    <div class="row mb-5 shadow">
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mt-3 mb-3">
            <img src='{{c.image.url}}' width=100%>
        </div>

        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mt-3 mb-3">
            <h2>{{ c.name }}</h2>
            {% autoescape on %}
            <div class="fs-5">{{ c.description|linebreaks|truncatewords:42}}</div>
            {% endautoescape %}
            <div class="d-grid gap-2 d-flex justify-content-end">
                <div>
                    <button type="submit" class="btn btn-outline-primary fPersian">
                        <a class="navbar-brand active Hover" href="{{ c.get_absolute_url }}">Детальніше про капсулу</a>
                    </button>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary text-white fPersian ">
                        <a class="navbar-brand active Hover" href="{% url 'booking' %}">Обрати капсулу</a>
                    </button>
                </div>   
            </div>
           

        </div>

       
    </div>
    {% endfor %}
  
</div>
{% endblock body %}
